<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPLInk.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PPLInk.Settings.ProHelpConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ProHelp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PPLInk.My.MySettings.ProHelpConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ProHelp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PPLInk.Settings>
            <setting name="ProHelpServerTest" serializeAs="String">
                <value>.\MSSQLLocalDB::.\SQLExpress</value>
            </setting>
            <setting name="ProHelpConnectionSuffix" serializeAs="String">
                <value>Initial Catalog=ProHelp;Integrated Security=True</value>
            </setting>
            <setting name="ProHelpConnectionUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProHelpServerUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProHelpDebug" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ProHelpMasterFolder" serializeAs="String">
                <value>%DOCUMENTS%\Kairos\Music for Parklea\MASTERS</value>
            </setting>
            <setting name="ProHelpVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ProHelpSelected" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="ProHelpAutoShortList" serializeAs="String">
                <value>Y</value>
            </setting>
        </PPLInk.Settings>
    </userSettings>
</configuration>