<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PPLInk.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PPLInk.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PPLInk.My.MySettings.ProHelpConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=ProHelp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PPLInk.My.MySettings>
            <setting name="ProHelpVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ProHelpDebug" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ProHelpConnectionUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProHelpSelected" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="ProHelpAutoShortList" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="ProHelpMasterFolder" serializeAs="String">
                <value>%DOCUMENTS%\Kairos\Music for Parklea\MASTERS</value>
            </setting>
            <setting name="ProHelpServerUser" serializeAs="String">
                <value />
            </setting>
        </PPLInk.My.MySettings>
    </userSettings>
    <applicationSettings>
        <PPLInk.My.MySettings>
            <setting name="ProHelpConnectionSuffix" serializeAs="String">
                <value>Initial Catalog=ProHelp;Integrated Security=True</value>
            </setting>
        </PPLInk.My.MySettings>
    </applicationSettings>
</configuration>
